html {
  font-size: 400%; /**1 rem now equals 64pt**/
}

.title {
  font-size: 50%;
  padding-bottom: 0.5rem;
}

main {
  display: flex;
  justify-content: center;
  font-family: 'jost', sans-serif;
}

.card-background {
  position: absolute;
  display: block;
  height: 8.3rem; /**in real life, 1rem = 1 cm **/
  width: 5.7rem;
  background-image: 
    repeating-linear-gradient(to top left, transparent 40%, gray, transparent),
     repeating-linear-gradient(to top right, transparent 50%, #FAEFE6, transparent);
  background-color: purple;
  border-radius: 3%;
  border-style: solid;
  border-width: 0.3rem;
  border-color: gold;
}

.picture {
  position: absolute;
  display: block;
  height: 3.5rem;
  width: 5.3rem;
  background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1581462490/slide_film_12_qa5w4w.jpg");
  mix-blend-mode: darken(30%);
  filter: hue-rotate(40deg) contrast(110%) brightness(100%);
  background-size: cover;
  margin-top: 0.9rem;
  border-style: solid;
  color: gray;
  border-width: 6px;
  border-radius: 2%;
}

.picture-glitter {
  position: absolute;
  display: block;
  margin-top: 0.9rem;
  height: 3.5rem;
  width: 5.3rem;
  background-color: cyan;
  background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1589233049/glitterbackground2_vvtl39.jpg");
  background-size: cover;
  filter: opacity(30%) contrast(100%);
  border-style: solid;
  color: white;
  border-width: 6px;
  border-radius: 2%;
}

.hp {
  position: absolute;
  display: block;
  font-size: 0.4rem;
  margin-top: 0.35rem;
  margin-left: 2rem;
}

.stage {
  position: absolute;
  display: block;
  font-size: 0.2rem;
  margin-top: 0.1rem;
  margin-left: -2.7rem;
  background-image: linear-gradient(to bottom, silver, white, silver);
  border-style: solid;
  border-width: 1px;
  border-radius: 12%;
  border-color: white;
  text-transform: uppercase;
  padding-left: 0.1rem;
  padding-right: 0.12rem;
  font-style: italic;
}

.small-text {
  font-size: 25%;
  font-weight: 800;
}

#hp-label {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.name {
  position: absolute;
  display: block;
  font-size: 0.4rem;
  font-weight: 600;
  margin-top: 0.35rem;
  margin-left: -1.5rem;
}

.attack-text {
  position: absolute;
  font-size: 40%;
}

#attack1 {
  margin-top: 5rem;
}

#attack2 {
  margin-top: 6.5rem;
}

#attackPower1 {
  position: absolute;
  margin-top: 5rem;
  margin-left: 2rem;
  font-size: 40%;
}

#attackPower2 {
  position: absolute;
  margin-top: 6.5rem;
  margin-left: 2rem;
  font-size: 40%;
}

form {
  position: absolute;
  margin-top: 9rem;
 align-content: center;
}
